streamlit
gradio
fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
qdrant-client
sentence-transformers
sentencepiece
rank-bm25
pandas
numpy
python-dotenv
googlesearch-python
beautifulsoup4
requests
underthesea
pyvi
regex
scikit-learn
datasets
huggingface_hub